.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

body {
    background-color: #3a1a1a;
}

nav {
    background-color: #5a1a1a;
}
/* fonts */
.barlow {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* fonts */

.hi {
    font-weight: 900;
    color:beige;
    font-size: 4rem;
}

.oo {
    color:coral;
}

.paragraph {
    color:darkorange;
    font-size: 1.8rem;
    font-weight: 800;
}

.container2 {
    background-color: #6a1a1a;
}

.h2heading {
    color: gold;
    font-size: 2rem;
    font-weight: 800;
}
.card {
    background-color: #3a1a1a;
    color: beige;
    font-family: barlow;
}

footer {
    background-color: #aa1a1a;
}